{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>

<html lang="{{ grav.language.getLanguage ?: 'en' }}">

    <head>
        {% block head %}
            {% include 'global/head.html.twig' %}
        {% endblock %}
    </head>

    <body>

        {% include 'navigation/navbar.html.twig' %}
        {% block content %}{% endblock %}
        {% include 'navigation/footer.html.twig' %}

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <script>

            // Fade in element on scroll
            AOS.init({once: true, duration: 400, easing: 'ease-out', anchorPlacement: 'top-top',});

            var descriptions = document.querySelectorAll('.description')
            if(descriptions.length > 0) {
                descriptions.forEach(function(d) {
                    console.dir(d)
                    d.addEventListener('click', function(e) {
                        d.classList.toggle('full')
                    })
                });
            }

            // Highlight profiles
            const profileItems = Array.from(document.querySelectorAll('.profile-item'))
            profileItems.forEach(p => {
                p.addEventListener('mouseenter', e => {
                    profileItems.filter(x => x.id != p.id).forEach(y => y.classList.add('dimmed'))
                });
                p.addEventListener('mouseleave', e => {
                    profileItems.filter(x => x.id != p.id).forEach(y => y.classList.remove('dimmed'))
                });
            })
        </script>

    </body>
    
</html>
