@mixin single {
    padding-top: 50px;
    @include font-style-serif;
}

@mixin single-top {
    width: 100%;
    height: auto;
    display: flex;
    align-items: stretch;
    background: white;
    color: black;
    border-bottom: 1px solid $grey-2;

    @include screen-size("small") {
        flex-wrap: wrap;
    }
}

@mixin single-top-text {
    width: 66.6666%;
    background: white;
    padding: 20px 40px 20px 40px;

    @include screen-size("small") {
        width: 100%;
        padding: 10px 20px 21px 20px;
    }

    &--date {
        @include datebox;

        @include screen-size("small") {
            display: none;
        }
    }

    &--title {
        @include font-style-sans-large;
        margin-top: 20px;
        margin-bottom: 0;
    }

    &--author {
        padding: 10px;
        margin-top: 20px;
        display: inline-block;
        margin-bottom: 60px;

        &:hover {
            background: $grey-1;
        }

        &--image {
            float: left;
            width: 50px;
            height: 50px;
            background: $grey-2;
            border-radius: 50px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--name {
            @include font-style-sans-small;

            float: left;
            margin-left: 7px;
            color: black;
            line-height: 50px;
        }
    }
}

@mixin single-top-meta {
    width: 33.3333%;
    border-left: 1px solid $grey-2;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;

    @include screen-size("small") {
        width: 100%;
        border-left: none;
    }

    &--divider {
        margin-top: 20px;
        border-bottom: 1px solid $grey-2;
        margin-bottom: 20px;
    }

    &--tags {
        padding-top: 10px;

        margin-right: 20px;
        @include tag;
    }

    &--subproject {
        @include greybox;

        margin-right: 20px;

        // &--link {
        //     @include font-style-sans-small;

        //     margin-right: auto;
        //     margin-left: auto;
        //     display: block;
        //     text-align: center;
        //     padding: 20px;
        //     border: 1px solid $grey-2;

        //     &:hover {
        //         background: $grey-1;
        //     }
        // }

        @include screen-size("small") {
            display: none;
        }
    }

    &--date {
        @include datebox;

        display: inline-block;
        margin-right: 7px;

        @include screen-size("small") {
            display: none;
        }
    }
}

@mixin single-main {
    width: 100%;
    min-height: 80vh;
    height: auto;
    display: inline-block;
}

@mixin single-main-content {
    padding-top: 40px;
    padding-bottom: 60px;

    width: 66.6666%;
    float: left;

    a {
        border-bottom: 1px solid $black;
        &:hover {
            border-bottom: 1px solid $grey-2;
        }
    }

    p,
    ul,
    ol,
    li {
        @include font-style-serif;
        width: 70ch;
        margin-bottom: 20px;
        max-width: 90%;
        margin-right: auto;
        margin-left: $main-margin;
    }

    h1,
    h2,
    h3,
    h4 {
        @include font-style-serif;
        width: 70ch;
        max-width: 90%;
        margin-right: auto;
        margin-left: $main-margin;
        padding-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    li {
        margin-left: 0em;
    }

    blockquote {
        p {
            font-size: 17px;
            line-height: 1.2em;
            padding-left: 30px;
            padding-right: 30px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@mixin single-main-sidebar {
    float: right;
    width: 33.33333%;
    padding-left: 20px;

    .replies {
        margin-top: 40vh;
    }

    .related {
        margin-top: 100vh;
    }
}

@mixin single-main-related {
    float: left;
    width: calc(100% - 20px);
    color: black;
    // padding: 20px;
    // padding-top: 0;

    @include screen-size("small") {
        width: 100%;
    }

    &--header {
        @include greybox;
        padding: 10px;
        background: white;
        border: 1px solid $grey-2;
        margin-right: 7px;
        margin-bottom: 10px;

        .icon {
            position: relative;
            height: 20px;
        }
    }

    &--item {
        width: 100%;
        height: 400px;
        margin-right: 40px;
        float: left;
        border-bottom: 1px solid $grey-2;
        margin-bottom: 20px;
        padding-bottom: 20px;
        padding: 20px;

        &:hover {
            background: $grey-1;
        }

        &--title {
            @include font-style-sans-small;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 0px;
        }

        &--image {
            width: 100%;
            height: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
