{% extends 'global/base.html.twig' %}

{% block content %}
<div class="container is-fluid stakeholder-list main-container">
    <div class="columns is-multiline is-gapless">

        {% if page.content %}
            <div class="column is-one-third is-padded description">
                <div class='is-padded-small'>
                    Here you will find find the profiles of individual stakeholders, organized by group.
                </div>
            </div>
        {% endif %}
        
        {% for p in page.children.visible %}
            <a href='{{p.url}}' class='column is-one-third'>
                {% if p.header.featured_image %}
                    {{ p.media[p.header.featured_image].cropZoom(768, 576).html('',page.title|escape)}}
                {% endif %}
                <span>{{p.title}}</span>
            </a>
        {% endfor %}

    </div>
</div>
{% endblock %}
