{% extends 'global/base.html.twig' %}

{% block content %}
  <main>

    <article class="single-profile">

      {# TOP #}
      <div class="top">

        {# TEXT #}
        <div class='text'>
        
          {# TITLE #}
          <h1 class='title'>{{page.header.quote}}<div>– {{page.title}}</div></h1>
        </div>

        {# META #}
        <div class='meta'>

            {# IMAGE #}
            <div class='image'>
                {{ page.media[page.header.featured_image].html('', page.title|escape)}}
            </div> 
          
        </div>

      </div>

      {# MAIN #}
      <div class="main">

        {# CONTENT #}
        <div class="content">
          {{ page.content }}
        </div>
        
      </div>
      
    </article>

  </main>
{% endblock %}