$primary-color: rgba(10,10,10,1);
$primary-color-text: rgba(10,10,10,1);
$primary-text-color: rgba(10,10,10,1);

$secondary-text-color: rgba(10,10,10,1);
$divider-color: #fff;
$background-color: #fff;


// TYPO
$font-stack: 'Archivo', sans-serif;
$font-stack-light: 'Archivo', sans-serif;
$font-stack-medium:'Archivo', sans-serif;

$shadow: 5px 5px 10px $secondary-text-color;


// STYLES
body {
  background: $background-color;
}
