.single-note {
    @include single;

    &--top {
        @include single-top;

        &--text {
            @include single-top-text;

            &--author {
                @include screen-size('small') {
                    margin-top: 0;
                }
            }
        }

        &--meta {
            @include single-top-meta;

            &--date {
                // margin-bottom: 20px;
            }
        }

    }

    &--main {
        @include single-main;

        &--content {
            @include single-main-content;
        }

        &--end {
            width: 100%;
            display: flex;

            @include screen-size('small') {
                flex-wrap: wrap;
            }

            &--comments {
                @include single-main-comments;
            }

            &--related {
                @include single-main-related;
            }

        }

    }
}