.landing {
    width: calc(100% - 40px);
    margin-right: $main-margin;
    margin-left: $main-margin;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-bottom: 20px;

    @include screen-size("small") {
        width: calc(100% - 40px);
        margin-right: $phone-margin;
        margin-left: $phone-margin;
    }

    .item {
        &.third {
            margin-top: 10px;
            position: relative;
            padding: 10px;
            padding-top: 10px;
            color: $black;
            width: calc(33.3333% - 6px);
            // border-bottom: 1px solid $grey-2;
            background: linear-gradient(180deg, rgba(220, 220, 220, 1) 0%, rgba(255, 255, 255, 1) 50%);
            overflow: hidden;
            height: 520px;
            display: flex;
            flex-direction: column;

            .link {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
                cursor: pointer;
            }

            .text {
                width: 100%;
                z-index: 10;
                flex-basis: 60%;

                @include screen-size("small") {
                    height: auto;
                    width: 100%;
                }

                .header {
                    @include font-style-mono;
                    border-bottom: 1px solid $grey-2;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    height: 30px;
                    line-height: 30px;

                    .section {
                        float: left;
                    }

                    .date {
                        float: right;
                    }
                }

                .tags {
                    bottom: 0;
                    float: left;
                    margin-top: 10px;

                    .tag {
                        @include font-style-mono;

                        padding: 7px;
                        border-radius: 5px;
                        margin-right: 4px;
                        margin-bottom: 6px;
                        display: inline-block;
                        z-index: 1000;
                        position: relative;
                        text-decoration: none !important;
                        color: black;
                        user-select: none;

                        background: $yellow;

                        &:hover {
                            background: $dark-yellow;
                            transition: background 0.3s $easing;
                        }

                        @include screen-size("small") {
                            padding: 5px;
                        }
                    }
                }

                .title {
                    @include font-style-sans-small;
                    float: left;
                    font-weight: bold;
                    letter-spacing: -0.03em;
                    margin-top: 10px;
                    max-width: 40ch;
                }

                .meta {
                    .date {
                        @include datebox;
                        border: 1px solid $grey-2;
                    }

                    .provider {
                        @include greenbox;
                    }

                    .author {
                        @include greybox;
                        border: 1px solid $grey-2;

                        display: inline-block;
                        margin-right: 7px;
                        margin-bottom: 7px;
                        margin-top: 10px;
                    }
                }
            }

            .image {
                width: 100%;
                flex-basis: 45%;
                max-height: 45%;

                @include screen-size("small") {
                    height: auto;
                    float: right;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 1;
                }
            }

            .button {
                @include font-style-sans-small;

                margin-right: auto;
                margin-left: auto;
                display: block;
                text-align: center;
                padding: 20px;
                border: 1px solid $grey-2;

                @include screen-size("small") {
                    margin-right: 0;
                    margin-left: 0;
                }

                &:hover {
                    background: $grey-1;
                }
            }

            @include screen-size("small") {
                margin: $phone-margin;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                width: 100%;
            }

            &:hover {
                background: $grey-1;

                .landing--item__third--text {
                    &--meta {
                        &--date {
                            border: 1px solid $grey-2;
                        }
                    }
                }
            }
        }

        &.short {
            height: 100px;
            border-bottom: 0;
            background: $white;

            &:hover {
                background: none;
            }

            @include screen-size("small") {
                margin-top: 0;
                width: 100%;
            }
        }

        &.spaced {
            margin-right: 9px;

            @include screen-size("small") {
                margin-right: 0;
            }
        }

        &.about {
            @include font-style-sans-small;
            width: 100%;

            border-bottom: 1px solid $grey-2;
            padding: 10px;
            margin-bottom: 0;
            position: relative;

            background: $grey-1;
            border-radius: 10px;
            height: auto;
            border: 0;
            margin-top: 10px;

            opacity: 0;
            transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
            display: block;

            background: linear-gradient(45deg, rgba(220, 220, 220, 1) 0%, rgba(255, 255, 255, 1) 150%);

            &:hover {
                background: linear-gradient(45deg, rgba(220, 220, 220, 1) 0%, rgba(255, 255, 255, 1) 150%);
            }

            @include screen-size("small") {
                height: auto;
                margin-right: 0;
                margin-left: 0;
                width: 100%;
            }

            p {
                width: 95%;
            }

            &.active {
                opacity: 1;
                transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
            }

            .button {
                @include font-style-sans-small;

                display: inline-block;
                padding: 20px;
                border: 1px solid black;
                margin-bottom: 15px;
                margin-right: 6px;

                &:hover {
                    background: white;
                }
            }
        }

        &.announcements-order {
            order: 1;
            @include screen-size("small") {
                order: 1;
            }
        }

        &.blog-order {
            order: 2;
            @include screen-size("small") {
                order: 3;
            }
        }

        &.feed-order {
            order: 3;
            @include screen-size("small") {
                order: 5;
            }
        }

        &.more-announcements-order {
            order: 4;
            @include screen-size("small") {
                order: 2;
            }
        }

        &.more-blog-order {
            order: 5;
            @include screen-size("small") {
                order: 4;
            }
        }

        &.more-feed-order {
            order: 6;
            @include screen-size("small") {
                order: 6;
            }
        }
    }
}
