.profiles {
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  background: black;


  .item {
    display: block;
    padding: 20px;
    margin-bottom: 0;
    position: relative;
    width: 50%;
    height: 500px;
    transition: opacity 0.3s ease-out;

    .link {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .category {
      @include font-style-mono;

      position: absolute;
      top: 20px;
      right: 20px;
      background: rgba(255,255,255,0.9);
      z-index: 1000;
      display: inline-block;
      color: black;
      padding: 10px;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      // mix-blend-mode: multiply;

      @include screen-size('small') {
        display: block;
      }

      &:hover {
        filter: unset;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }


    .link {
      z-index: 100;
    }

    .quote {
      position: absolute;
      bottom: 20px;
      left: 20px;
      padding: 5px;
      width: calc(100% - 40px);
      background: rgba(255,255,255,0.9);
      z-index: 10;
      color: black;
      @include font-style-sans-medium;
    }

    // &:hover {
    //   .image {
    //     mix-blend-mode: multiply;
    //   }
      
    // }

    &.dimmed {
      opacity: 0.4;
    }

  }
}