.publications {
  margin-top: 60px;
  width: calc(100% - 40px);
  margin-right: $main-margin;
  margin-left: $main-margin;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 140px;

    .item {

        &.small {
          display: block;
          padding: 20px;
          height: auto;
          margin-bottom: 0;
          border-bottom: 1px solid $grey-2;
          width: 100%;
          position: relative;
    
          @include screen-size('small') {
            width: 100%;
          }
    
          .link {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
          }
      
          .text {
            width: calc(100% - 200px);
            float: left;
    
            @include screen-size('small') {
              width: 100%;
            }
    
            .meta {
              margin-right: 20px;
              height: auto;
              width: 100%;
              float: left;
              margin-bottom: 7px;
    
              .date {
                @include datebox;
                margin-right: 7px;    
              }
    
              .author {
                @include greybox;
    
                display: inline-block;
                margin-right: 7px;
              }

              .provider {
                @include datebox;
    
                display: inline-block;
                margin-right: 7px;
              }
    
            }

            .title-container {
              width: 100%;
              display: inline-block;
            }
      
            .title {
              @include font-style-sans-small;
    
              float: left;
              height: auto;
              max-width: 60ch;

              &:hover {
                text-decoration: underline;
              }
            }

            .description {

              .inner {
                @include font-style-sans-small;
                height: auto;
                max-width: 80ch;
                margin-bottom:  1em;
                overflow: hidden;
                cursor: pointer;
                display: block;
                user-select: none;
              }
            }
          }
    
          .tags {
            width: calc(100% - 400px);
            float: left;
            z-index: 10;
    
            .tag {
              @include font-style-mono;
    
              padding: 7px;
              border-radius: 5px;
              margin-right: 4px;
              margin-bottom: 6px; 
              display: inline-block;
              z-index: 10;
              position: relative;
              text-decoration: none !important; 
              color: black;
          
              background: $yellow;
          
              &:hover {
                background: $dark-yellow;
                transition: background 0.3s $easing;
              }
    
              @include screen-size('small') {
                padding: 5px;
              }
    
            }
    
            @include screen-size('small') {
                width: 100%;
            }
          }
    
          .image {
            width: 200px;
            height: 200px;
            float: right;
    
            @include screen-size('small') {
              display: none;
            }
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 1;
            }
          }

          .pdf, .exit {
            @include font-style-mono;
            line-height: 52px;
            height: 52px;
            margin-right: 10px;
            color: #000;
            padding: 10px;
            border: 1px solid $grey-2;
            z-index: 100;
            position: relative;


            &:hover {
              background: $grey-2;
            }
          }

          .exit {
            max-width: 80vw;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .icon {
            position: relative;
            top: 8px;
          }
    
          &:hover {
            background: $grey-1;
            transition: background 0.3s $easing;
    
            .text {
              .meta {
                .date, .author, .provider {
                  border: 1px solid $grey-2;
                }
              }
            }
          }
        }
    
        &.compact {
          display: flex;
          height: auto;
          border-bottom: 1px solid $grey-2;
          padding: 20px;
          width: 100%;
    
          .link {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
          }
      
          .text {
            width: 100%;
      
            .meta {
              float: left;
              margin-right: 10px;
              margin-bottom: 5px;
              height: 30px;
              width: auto;
    
              .date {
                @include datebox;
    
                float: left;
                padding-left: 5px;
                padding-right: 5px;
                height: 30px;
                line-height: 10px;
              }
      
              .author {
                @include greybox;
    
                float: left;
                margin: 0;
                margin-left: 10px;
                padding-left: 5px;
                padding-right: 5px;
                height: 30px;
                line-height: 10px;
              }
      
            }
      
            .tags {
              float: left;
              display: block;
    
              .tag {
                @include font-style-mono;
    
                padding: 2px;
                border-radius: 2px;
                margin-right: 5px;
                margin-bottom: 5px; 
                display: inline-block;
                z-index: 10;
                position: relative;
                
                text-decoration: none !important; 
            
                color: black;
            
                background: $yellow;
            
                &:hover {
                  background: $dark-yellow;
                  transition: background 0.3s $easing;
                }
    
    
              }
            }
      
            .title {
              @include font-style-sans-smaller;
    
              color: black;
              height: 30px;
              line-height: 30px;
              width: 100%;
              margin: 0;
    
              @include truncate-text;
            }
          }
          
          &:hover {
            background: $grey-1;
            transition: background 0.3s $easing;
    
            .text {
              .meta {
                .date, .author {
                  border: 1px solid $grey-2;
                }
              }
            }
          }
        }

    }
}
