footer {
    @include font-style-mono;
    border-top: 1px solid $grey-2;
    background: white;
    color: black;
    margin: 0 !important;
    padding: 30px;
    line-height: 40px;

    .item {
        margin-right: 10px;

        &:hover {
            background: $grey-1;
        }

        &.active {
            font-weight: bold;
        }

        @include screen-size("small") {
            display: block;
            width: auto;
            line-height: 2.3em;

            &:hover {
                background: transparent;
            }
        }
    }

    .logo {
        font-weight: bold;
    }
}
